<!DOCTYPE html>
<html>
<head>
<link href="/css/style.css" rel="stylesheet">
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML"></script>
</head>
<body>
<nav>
<!--header-->
</nav>
<div class="content">
<!--content-->
</div>
<div id="disqus_thread"></div>
<script>
var disqus_config = function () {
    this.page.url = "https://connornm777.github.io/example.html"; // Replace with dynamic URL
    this.page.identifier = "example"; // Replace with dynamic identifier
};
(function() {
    var d = document, s = d.createElement('script');
    s.src = 'https://connornm777-github-io.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<script id="dsq-count-scr" src="//connornm777-github-io.disqus.com/count.js" async></script>
</body>
</html>
